name: Push Linux x86_64 musl Platform Gem
on:
  push:
    tags:
      - v*
permissions:
  contents: read
env:
  BUNDLE_RETRY: 6
  BUNDLE_JOBS: 4
jobs:
  build:
    if: github.repository_owner == 'karafka'
    timeout-minutes: 30
    runs-on: ubuntu-latest
    environment: deployment
    container:
      # Same as CI, we build on the oldest possible for ABI compatibility
      image: alpine:3.18@sha256:de0eb0b3f2a47ba1eb89389859a9bd88b28e82f5826b6969ad604979713c2d4f # renovate: ignore
    steps:
      - name: Install dependencies
        run: |
          apk add --no-cache git curl ca-certificates build-base linux-headers \
            pkgconf perl autoconf automake libtool bison flex file bash wget zstd-dev \
            openssl-dev cyrus-sasl-dev cyrus-sasl cyrus-sasl-login \
            cyrus-sasl-crammd5 cyrus-sasl-digestmd5 cyrus-sasl-gssapiv2 cyrus-sasl-scram \
            krb5-libs openssl zlib zlib-dev zstd-libs
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Configure git safe directory
        run: git config --global --add safe.directory /__w/karafka-rdkafka/karafka-rdkafka
      - name: Cache build-tmp directory
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ext/build-tmp-musl
          key: build-tmp-musl-${{ runner.os }}-${{ hashFiles('ext/*.sh', 'ext/Rakefile') }}-v2
      - name: Build precompiled librdkafka.so
        run: |
          cd ext
          bash ./build_linux_x86_64_musl.sh
      - name: Upload precompiled library
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: librdkafka-precompiled-musl
          path: ext/
          retention-days: 1

  push:
    if: github.repository_owner == 'karafka'
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs: build
    environment: deployment
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Download precompiled library
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: librdkafka-precompiled-musl
          path: ext/
      - name: Set up Ruby
        uses: ruby/setup-ruby@3fee6763234110473bd57dd4595c5199fce2c510 # v1.258.0
        with:
          ruby-version: '3.4'
          bundler-cache: false
      - name: Configure trusted publishing credentials
        uses: rubygems/configure-rubygems-credentials@bc6dd217f8a4f919d6835fcfefd470ef821f5c44 # v1.0.0
      - name: Build and push platform-specific gem
        run: |
          gem build *.gemspec
          gem push *.gem
        env:
          RUBY_PLATFORM: 'x86_64-linux-musl'
